<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smarthome.admin.mapper.AuthorityMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.smarthome.admin.entity.Authority">
		<id column="authority_id" property="authorityId" />
		<result column="parent_authority_id" property="parentAuthorityId" />
		<result column="authority_name" property="authorityName" />
		<result column="authority_type" property="authorityType" />
		<result column="authority_url" property="authorityUrl" />
		<result column="authority_flag" property="authorityFlag" />
		<result column="authority_level" property="authorityLevel" />
		<result column="disp_order" property="dispOrder" />
		<result column="is_valid" property="isValid" />
		<result column="is_show" property="isShow" />
		<result column="permission" property="permission"/>
	</resultMap>

	<select id="selectPermissionSetByRoleId" parameterType="java.lang.Integer" resultType="java.lang.String">
	    SELECT a.permission
	    FROM sys_authority a
	    LEFT JOIN sys_role_authority ra
	    ON ra.authority_id=a.authority_id
	    WHERE ra.role_id=#{roleId}
	</select>

</mapper>
