<html>
 <head>
  <title>404错误，您所访问的页面不存在！</title>
<meta charset="UTF-8"/>
  <link rel="stylesheet" href="css/style.css"/>
<link rel="stylesheet" href="css/base.css"/>
 </head>

 <body>
  <div id="errorpage">
    <div class="tfans_error">
        <div class="logo"></div>
        <div class="errortans clearfix">
        	 <div class="e404"></div>
            <p><b>出错啦！</b></p>
            <p>您访问的页面不存在或权限不足</p>
            <div class="bt" ><a href="#">返回首页</a></div>
        </div>
    </div>
</div>
<!-- xmoban.cn 提示文本 实际使用请删除 
<div style="padding:20px 0;margin-top:30px;">

<div style="margin-bottom:30px;text-align:center;"><a href="http://www.xmoban.cn/">X模版</a> | <a href="http://www.xmoban.cn/404-Template">404页面模版</a> | <a href="http://www.xmoban.cn/management-Template">管理后台模版</a> | <a href="http://www.xmoban.cn/Package">打包下载</a> | <a href="http://www.xmoban.cn/Custom-design">定制设计</a></div>
</div>
-->
<!-- /xmoban.cn -->
 </body>
</html>

